<%- include('partials/header') -%>
<html>
<body>
    <div>
        <h1>Dashboard</h1>
        <a href="/auth/logout"><button>LogOut</button></a>
    </div>
        <section>
                <h2>Fitness Tracker</h2>
                <a href="/fit"><button>See More</button></a>
        </section>
        <section>
                <h2>Diet Tracker</h2>
                <a href="/diet"><button>See More</button></a>
        </section>
        <section>
                <h2>Workout Tracker</h2>
                <a href="/workout"><button>See More</button></a>
        </section>
        </a>
   
</body>
</html>