<%- include('partials/header') -%>
<html>
<body>
    <div>
        <h1>Dashboard</h1>
        <a href="/auth/logout"><button>LogOut</button></a>
        <a href="">
            <div>

            </div>
        </a>
        <a href="">
            <div>

            </div>
        </a>
        <a href="">
            <div>

            </div>
        </a>
    </div>   
</body>
</html>